//

html {
    height: 100%;
}

.table-search-container {
    max-width: 300px;
}

.table {
    table-layout: fixed;

    .btn-group {
        min-width: 100px;
    }

    tbody {
        td {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }
    }
}

.form-actions {
    .btn {
        min-width: 100px;
    }
}

.header-actions {
    .btn {
        min-width: 100px;
    }
}

.footer-logo {
    width: 16px;
    height: 16px;
}

.guest-logo-img {
    width: 128px;
    height: 128px;
}


.dt-button-background {
    background: black;
    opacity: 0.4;
}
